@import url(http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300|Open+Sans:800&subset=latin-ext);
@media screen and (max-width: 767px) {
	.mobile-grid-100 .singleAuction .image{
		width: 100px;
	}
	.mobile-grid-100 .singleAuction .description{
		position: absolute;
		right: 5px;
		top: 10px;
		height: 90%;
	}
	.mobile-grid-100 .singleAuction .description{
		width:85%;
		position: absolute;
		right: 5px;
		top: 10px;
	}
	.mobile-grid-100 .image:after {
		background-size: 60%;
	}
	.mobile-grid-100 .singleAuction .description .price{
		left: 16px;
	}
	.grid-container{
		width: 90%;
		min-width: 660px;
	}
}
body {
    font-family: verdana;
    background: #ddd url("#{resource['/img/pat.jpg']}");
	margin: 0;
	padding: 0;
}
.registrationContainer .messages{
    list-style-type: none;
    margin: 0;
    padding: 0;
    margin-top: 15px;
}
.messages{
    list-style-type: none;
    margin: 0;
    padding: 0;
    margin-top: 15px;
}
.logoContainer{
	height: 80px;
	width: 400px;
	float: left;
	font-family: Open Sans;
}
.logo-sell, .logo-your, .logo-thing{
	height: 80px;
}
.logo-sell{
	font-size: 80px;
	margin-top: -20px;
	color: #33b9f0;
	float: left;
	height: 80px;
}
.logoContainer div::selection {
	background: transparent;
}
.logoContainer div::-moz-selection {
	background: transparent;
}


.logo-your{
	height: 30px;
	font-size: 35px;
	float: left;
	font-style: italic;
	color: #fff;
	margin-left: -25px;
}
.logo-thing{
	height: 20px;
	font-size: 35px;
	float: left;
	color: #33b9f0;
	margin-left: -70px;
	margin-top: 30px;
}
.logo-pl{
	height: 20px;
	font-size: 20px;
	margin-top: 45px;
	margin-left: -8px;
	float: left;
	color: #fff;
}
.logo-image{
	float: left;
	margin-left: -47px;
}
.logo-image img{
	width: 55px;
	height: 55px;
}
.userImage{
	float:left;
	margin-right: 10px;
	z-index: 1;
}
.userImage img{
	width: 22px;
	height: 22px;
	z-index: 0;
}
.userMenu{
	font-family: Open Sans Condensed;
	width: auto;
	background-color: #2d231c;
	min-width: 700px;
}
.userMenu ul {
	margin: 0;
	padding: 0;
	list-style-type: none;
	width: 100%;
	display: block;
	height: 80px;
	font-size: 18px;
}
.userMenu li {
	display: block;
	float: right;
	margin-top: 18px;
}
.userMenu li a {
	display: block;
	float: left;
	color: #33b9f0;
	text-decoration: none;
	font-weight: bold;
	padding: 8px 20px 0px 20px;
	-moz-transition: all 0.1s linear;
	-webkit-transition: all 0.1s linear;
	transition: all 0.1s linear;
}
.userMenu li a:hover {
	color: #FFFFFF;
	height: 22px;
}
.topMenu{
	font-family: Open Sans Condensed;
	width: auto;
	background-color: #f4f4f4;
	min-width: 700px;
}
.topMenu ul {
	margin: 0;
	padding: 0;
	list-style-type: none;
	width: 100%;
	display: block;
	height: 50px;
	font-size: 18px;
	text-align: center;
}
.topMenu li {
	display: inline-block;
	height: 50px;
	border-right: solid 1px #2d231c; 
	margin-left: -3px;
}
.topMenu li:first-child{
	border-left: solid 1px #2d231c; 
}
.topMenu li a{
	display: inline-block;
	height: 42px;
	color: #2d231c;
	text-decoration: none;
	font-weight: bold;
	padding: 8px 20px 0 20px;
	-moz-transition: all 0.1s linear;
	-webkit-transition: all 0.1s linear;
	transition: all 0.1s linear;
}
.topMenu li a:hover {
	display: inline-block;
	background-color:  #33b9f0;
	color: #fff;
}
.auctionContainer{
	padding-top: 100px;
	height: 1000px;
}
.singleAuction{
	background-color: #f4f4f4;
	margin-bottom: 20px;
	-moz-box-shadow: 2px 2px 7px #aaa;
	-webkit-box-shadow: 2px 2px 7px #aaa;
	box-shadow: 2px 2px 7px #aaa;
	position: relative;
}

.singleAuction .image {
	margin: 0;
	position: relative;
	font-size: 0;
}
.singleAuction .image img {
	width: 100%;
	height: 100%
}
.image:after {
	background: rgba(0, 0, 0, 0.05) url("#{resource['img/zoom1.png']}") no-repeat center;
	bottom: 0;
	opacity:0;
	content: "";
	display: block;
	height: 0;
	left: 0;
	position: absolute;
	width: 100%;
	transition: all .2s linear;
}

.singleAuction:hover .image:after{
	height: 100%;
	opacity: 0.8;
}
.singleAuction .description{
	height: 100px;
	position: relative;
	text-align: center;
	font-family: Open Sans Condensed;
}
.singleAuction .description .title{
	color: #33b9f0;
	font-weight: bold;
}
.singleAuction .description .price{
	color: #555;
	font-weight: bold;
	position: absolute;
	bottom: 2px;
	font-size: 20px;
	left: 10px;
}
.singleAuction .description .price .currency{
	color: #33b9f0;
	font-size: 14px;
}
.singleAuction .description .category{
	color: #555;
	font-weight: bold;
	position: absolute;
	bottom: 3px;
	font-size: 14px;
	right: 10px;
}
.singleAuction .description .category .separator{
	color: #33b9f0;
}

/*---FORMS---*/
fieldset{
    border: 1px solid #d3d3d3;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 10px;
}
.submitButton input{
	font-family: Open Sans Condensed;
	margin-top: 25px;
	background-color: #2d231c;
	color: #fff;
	font-weight: bold;
	font-size: 20px;
	-moz-transition: all 0.1s linear;
	-webkit-transition: all 0.1s linear;
	transition: all 0.1s linear;
}
.submitButton input:hover{
	color: #33b9f0;
}
input:invalid{
	box-shadow: none;
}
textarea:invalid{
	box-shadow: none;
}
label{
	color: #2d231c;
}
.loginButton{
	padding-top: 12px;
	float: left;
	width: 50%;
}
.registerButton{
	padding-top: 12px;
	float: right;
	width: 50%;
}
.loginButton a{
	text-decoration: none;
	color: #fff;
}
.loginButtonsContainer{
	width: 100%;
	height: 50px;
	background-color: #2d231c;
	margin-bottom: 15px;
}

/*---LOGIN---*/
.loginContainer{
	width: 400px;
	height: 330px;
	background-color: red;
	text-align: center;
	margin: auto;
	font-family: Open Sans Condensed;
	background-color: #f4f4f4;
	color: #2d231c;
	font-weight: bold;
	margin-top: 50px;
}

.loginContainer p{
	margin: 0;
}
.loginContainer input{
	width: 300px;
	height: 40px;
	border: none;
}
.loginContainer a{
	text-decoration: none;
	color: #fff;
	display: block;
	width: 100%;
        height:100%;
	-moz-transition: all 0.1s linear;
	-webkit-transition: all 0.1s linear;
	transition: all 0.1s linear;
}
.loginContainer a:hover{
	color: #33b9f0;
}
.loginContainer .loginButton{
	background-color: #33b9f0;
	color: #fff;
	height: 38px;
}
.loginContainer .registerButton{
	height: 38px;
}

/* registration */
.registrationContainer{
	width: 400px;
	height: 1080px;
	background-color: red;
	text-align: center;
	margin: auto;
	font-family: Open Sans Condensed;
	background-color: #f4f4f4;
	color: #2d231c;
	font-weight: bold;
	margin-top: 50px;
        margin-bottom: 200px;
}
.registrationContainer p{
	margin: 0;
}
.registrationContainer input{
	width: 300px;
	height: 30px;
	border: none;
}
.registrationContainer a{
	text-decoration: none;
	color: #fff;
	-moz-transition: all 0.1s linear;
	-webkit-transition: all 0.1s linear;
	transition: all 0.1s linear;
}
.submitButton input{
	height: 50px;
}
.registrationContainer a:hover{
	color: #33b9f0;
}
.registrationContainer .registerButton{
	background-color: #33b9f0;
	color: #fff;
	height: 38px;
}
.registrationContainer .loginButton{
	height: 38px;
}


/*---AuctionCreation---*/
.auctionCreationContainer{
	width: 1000px;
	height: 700px;
	background-color: red;
	text-align: center;
	margin: auto;
	font-family: Open Sans Condensed;
	background-color: #f4f4f4;
	color: #2d231c;
	font-weight: bold;
	margin-top: 50px;
	position: relative;
}
.auctionCreationHeader{
	background-color: #2d231c;
	height: 50px;
	color: #fff;
}
.auctionCreationHeader .header{
	width: 300px;
	background-color: #33b9f0;
	float: left;
	height: 40px;
	padding-top: 10px;
}
.auctionCreationContainer .title{
	width: 80%;
	height: 40px;
	border: none;
	margin-right: 20px;
	float: right;
	margin-bottom: 15px;
}
.auctionCreationContainer .description{
	width: 80%;
	height: 200px;
	border: none;
	margin-right: 20px;
	float: right;
	resize: none;
	margin-bottom: 15px;
}

.auctionCreationContainer label{
	float: right;
	margin-right: 20px;
	margin-top: 8px;
}
.auctionCreationContainer .submitButton{
	clear: both;
	border: none;
}
.auctionCreationContainer .submitButton input{
	clear: both;
	border: none;
	margin-top: 40px;
}
.auctionCreationContainer .category{	
        float: right;
        
	height: 30px;
	border: none;
	width: 150px;
	margin-bottom: 15px;
}
.auctionCreationContainer .subcategory{
        float: right;
	height: 30px;
	border: none;
	width: 150px;
	margin-left: 15px;
	margin-bottom: 15px;
        clear:right;
}
.auctionCreationContainer .subcategoryPlaceholder{
        float: right;
	height: 30px;
	border: none;
	width: 150px;
	margin-right: 505px;
	margin-bottom: 15px;
        margin-left: 15px;
        clear:right;
}
.auctionCreationContainer .categoryLabel{   
	float: right;
	margin-left: 196px;
}

.auctionCreationContainer .time{
	float: right;
        clear: right;
	height: 30px;
	border: none;
	width: 150px;
	margin-bottom: 15px;
        margin-right: 670px;
}
.auctionCreationContainer .timeLabel{
	float: right;
}
.auctionCreationContainer .price{
	width: 20%;
	height: 40px;
	border: none;
	margin-right: 620px;
	float: right;
        clear: right;
	margin-bottom: 15px;
}
.auctionCreationContainer .priceLabel{
	float: right;
}
.auctionCreationContainer .imageForm{
	position: absolute;
	top: 510px;
	left: 177px;
}

.auctionCreationContainer .imageForm input{
	display: block;
	background-color: #2d231c;
	border: none;
	color: #fff;
	height: 50px;
        width: 130px;
	font-family: Open Sans Condensed;
	font-weight: bold;
	font-size: 20px;
	-moz-transition: all 0.1s linear;
	-webkit-transition: all 0.1s linear;
	transition: all 0.1s linear;
        margin-top: 15px;
}
.auctionCreationContainer .imageForm input:hover{
	color: #33b9f0;
}
.auctionCreationContainer .imageForm .browseButton:hover{
	color: #33b9f0;
}
.auctionCreationContainer .imageForm .browseButton{
	width: 130px;
        overflow: hidden;
        background-color: #2d231c;
	border: none;
	color: #fff;
	height: 50px;
	font-family: Open Sans Condensed;
	font-weight: bold;
	font-size: 20px;
	-moz-transition: all 0.1s linear;
	-webkit-transition: all 0.1s linear;
	transition: all 0.1s linear;
}
.auctionCreationContainer .imageForm .browseButton .browseString{
        margin-top: 10px;
        display: block;
}
.auctionCreationContainer .imageForm .browseButton input{
        opacity: 0;
        margin-top: -38px;
}
.auctionCreationContainer .imagesContainer{
	width: 63%;
	height: 100px;
	float: left;
	clear: left;
	margin-left: 350px;
	text-align: left;
}
.auctionCreationContainer .imagesContainer img{
	width: 100px;
	height: 100px;
	margin-right: 10px;
	border: 2px dotted #33b9f0;
	opacity: 0.9;
	-moz-transition: all 0.1s linear;
	-webkit-transition: all 0.1s linear;
	transition: all 0.1s linear;
}
.auctionCreationContainer .imagesContainer img:hover{
	opacity: 1;
	border: 2px solid #33b9f0;
}
/*AUCTION*/
.auctionContainer{
	width: 1000px;
	height: 700px;
	background-color: red;
	text-align: center;
	margin: auto;
	font-family: Open Sans Condensed;
	background-color: #f4f4f4;
	color: #2d231c;
	font-weight: bold;
	margin-top: 50px;
}
.auctionContainer .imagesContainer{
	height: 700px;
	width: 40%;
	margin-top: -100px;
	float: left;
	text-align: center;
}
.auctionContainer .imagesContainer .mainImage{
	border: 2px dotted #33b9f0;
	width: 100%;
	height: 400px;
	margin-bottom: 20px;
	margin-left: 10px;
	margin-top: 10px;
	opacity: 1;
}
.auctionContainer .imagesContainer img{
	width: 100px;
	height: 100px;
	margin-left: 15px;
	margin-bottom: 15px;
	border: 1px dotted #33b9f0;
	opacity: 0.8;
	-moz-transition: all 0.1s linear;
	-webkit-transition: all 0.1s linear;
	transition: all 0.1s linear;
}
.auctionContainer .imagesContainer img:hover{
	opacity: 1;
        border: 1px solid #33b9f0;
}
.auctionContainer .imagesContainer .mainImage:hover{
	opacity: 1;
        border: 2px dotted #33b9f0;
}
.auctionContainer h1{
	float: right;
	margin-top: -80px;
	width: 60%;
}
.auctionContainer .bidding{
	width: 70%;
	height: 100px;
	float: left;
	margin-top: 15px;
}
.auctionContainer .bidding .price{
	height: 50px;
	border: none;
	float: left;
}
.auctionContainer .submit{
	font-family: Open Sans Condensed;
	background-color: #2d231c;
	-moz-transition: all 0.1s linear;
	-webkit-transition: all 0.1s linear;
	transition: all 0.1s linear;
	color: #fff;
	border: none;
	height: 50px;
	width: 200px;
	font-size: 25px;
	float: left;
	margin-left: 300px;
	font-weight: bold;
}
.auctionContainer .submit:hover{
	color: #33b9f0;
}
.auctionContainer .description{
	text-align: justify;
	height: 600px;
	font-weight: normal;
	margin-left: 20px;
	margin-right: 20px;
	width: 55%;
	float: right;

}
.auctionContainer .higherBid{
	font-size: 45px;
	float: right;
	margin-right: 15px;
	margin-top: 5px;
}
.auctionContainer .higherBid span{
	color: #33b9f0;
	font-size: 30px;
}